HUB_UI_PORT=8501
FRONTEND_PORT=5173
BACKEND_PORT=8787
DATA_API_PORT=8000
POSTGRES_PORT=5432
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
CADVISOR_PORT=8080
BLACKBOX_PORT=9115
DOCKER_EXPORTER_PORT=9324

VITE_APP_NAME=AirMap
CORS_ORIGINS=http://localhost:5173

POSTGRES_DB=air_map
POSTGRES_USER=air_map_app
POSTGRES_PASSWORD=air_map_password

DATA_API_HISTORY_DAYS=10
DATA_API_REFRESH_ON_SYNC=true
SYNC_ON_STARTUP=true
ENABLE_SYNC_WORKER=true
SYNC_INTERVAL_SECONDS=300
DATAGOUV_POLLUTION_DAYS=10

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
