GEODAIR_API_KEY=api_key_here
GEODAIR_BASE_URL=https://www.geodair.fr/api-ext
DATA_SOURCE=datagouv
DATAGOUV_POLLUTION_RESOURCE_URL=https://www.data.gouv.fr/api/1/datasets/r/157ceed4-ce03-4c7d-9cd7-ae60ea07417b
DATAGOUV_SYNOP_DATASET_API_URL=https://www.data.gouv.fr/api/1/datasets/archive-synop-omm/
DATAGOUV_SYNOP_STATIONS_RESOURCE_URL=https://www.data.gouv.fr/api/1/datasets/r/d82625f7-091c-40c5-a4e7-313a2ba5d3ef
DATAGOUV_OBJECT_API_BASE_URL=https://object.infra.data.gouv.fr/api/v1
DATAGOUV_OBJECT_BUCKET=ineris-prod
DATAGOUV_POLLUTION_PREFIX=lcsqa/concentrations-de-polluants-atmospheriques-reglementes/temps-reel
DATAGOUV_POLLUTION_DAYS=10